/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  /* Primary green colors */
  --ifm-color-primary: rgb(13, 147, 115);
  --ifm-color-primary-dark: rgb(12, 132, 104);
  --ifm-color-primary-darker: rgb(11, 125, 98);
  --ifm-color-primary-darkest: rgb(9, 103, 81);
  --ifm-color-primary-light: rgb(7, 201, 131);
  --ifm-color-primary-lighter: rgb(28, 208, 142);
  --ifm-color-primary-lightest: rgb(49, 215, 153);
  
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
  
  /* Background */
  --ifm-background-color: rgb(255, 255, 255);
  --ifm-navbar-background-color: rgb(255, 255, 255);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme="dark"] {
  /* Primary colors for dark mode */
  --ifm-color-primary: rgb(7, 201, 131);
  --ifm-color-primary-dark: rgb(6, 181, 118);
  --ifm-color-primary-darker: rgb(6, 171, 111);
  --ifm-color-primary-darkest: rgb(5, 141, 92);
  --ifm-color-primary-light: rgb(28, 208, 142);
  --ifm-color-primary-lighter: rgb(49, 215, 153);
  --ifm-color-primary-lightest: rgb(70, 222, 164);
  
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
  
  /* Dark background */
  --ifm-background-color: rgb(9, 13, 13);
  --ifm-background-surface-color: rgb(23, 27, 26);
  --ifm-navbar-background-color: rgb(9, 13, 13);
}

/* HTTP Method badges in sidebar */
.theme-doc-sidebar-item-link-level-2 .menu__link,
.theme-doc-sidebar-item-link-level-3 .menu__link {
  display: flex;
  align-items: center;
}

.theme-doc-sidebar-item-link-level-2 .menu__link::before,
.theme-doc-sidebar-item-link-level-3 .menu__link::before {
  content: attr(data-method);
  display: inline-block;
  padding: 2px 6px;
  margin-right: 8px;
  border-radius: 3px;
  font-size: 9px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.3px;
  min-width: 35px;
  text-align: center;
  flex-shrink: 0;
}

/* GET method - green */
.menu__link[data-method="GET"]::before {
  content: "GET";
  background-color: #49cc90;
  color: #000;
}

/* POST method - blue */
.menu__link[data-method="POST"]::before {
  content: "POST";
  background-color: #61affe;
  color: #000;
}

/* PUT method - orange */
.menu__link[data-method="PUT"]::before {
  content: "PUT";
  background-color: #fca130;
  color: #000;
}

/* DELETE method - red */
.menu__link[data-method="DELETE"]::before {
  content: "DELETE";
  background-color: #f93e3e;
  color: #fff;
}

/* PATCH method - cyan */
.menu__link[data-method="PATCH"]::before {
  content: "PATCH";
  background-color: #50e3c2;
  color: #000;
}

/* Dark mode adjustments */
[data-theme="dark"] .menu__link[data-method="GET"]::before {
  background-color: #49cc90;
  color: #000;
}

[data-theme="dark"] .menu__link[data-method="POST"]::before {
  background-color: #61affe;
  color: #000;
}

/* Remove badge from non-endpoint items */
.menu__link:not([data-method])::before {
  display: none;
}
